Level1


---


Task2: City Analysis


---


Identify the city with the highest number of restaurants in the dataset.


Calculate the average rating for restaurants in each city.

Determine the city with the highest average rating.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
path = ('/content/drive/MyDrive/Cognifyztechnologies_Internship/dataset .csv')
df = pd.read_csv(path)

In [3]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [4]:
restaurant_counts = df['City'].value_counts()
print(restaurant_counts)

City
New Delhi           5473
Gurgaon             1118
Noida               1080
Faridabad            251
Ghaziabad             25
                    ...
Panchkula              1
Mc Millan              1
Mayfield               1
Macedon                1
Vineland Station       1
Name: count, Length: 141, dtype: int64

In [5]:
restaurant_num = restaurant_counts.max()
city_with_highest_restaurants = restaurant_counts.head(1)
print('City with Highest restaurants: ', city_with_highest_restaurants)

City with Highest restaurants:  City
New Delhi    5473
Name: count, dtype: int64

Calculate the average rating for restaurants in each city.

In [8]:
average_rating = df.groupby('City')['Aggregate rating'].mean()
print('Avrage rating for restaurants in each city : ', average_rating)

Avrage rating for restaurants in each city :  City
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.555000
Allahabad          3.395000
                     ...
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
��stanbul          4.292857
Name: Aggregate rating, Length: 141, dtype: float64

Determine the city with the highest average rating.

In [10]:
highest_average_rating = average_rating.max()


print(highest_average_rating)

4.9